#root {
  width: 100vw; /* Use the full viewport width */
  min-height: 100vh; /* Use the minimum height of the full viewport height */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f0f0f0; /* Light grey background */
  color: #333; /* Darker text for contrast */
}

img {
  width: 100%;
  border: 5px solid #3b5998; /* Blue border for images */
}

.banner {
  width: 100vw; /* Adjusted to use 100% of the viewport width */
  max-width: none; /* Override any max-width */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: auto; /* Maintain aspect ratio */
  overflow: hidden; /* Prevent horizontal overflow */
}

button {
  background-color: #3b5998; /* Blue background for buttons */
  color: #ffffff; /* White text */
  padding: 10px 15px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2a3f5f; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly increase the button size */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
}

.card {
  background-color: #1a2e50; /* Dark blue background for cards */
  color: #f4f4f9; /* Lighter text for contrast */
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px; /* Rounded corners for cards */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  padding: 0 20px;
  background-color: transparent; /* Remove solid bar */
}

.nav-group {
  display: flex;
}

.nav-group.left a,
.nav-group.right a {
  margin: 0 10px; /* Adjust spacing between links */
}

.nav-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px; 
}


/* .image-tape {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100vw; /* Ensure it doesn't extend beyond the viewport width */
  max-width: 100%; /* Prevent it from causing overflow */
} */

.image-container {
  display: inline-block;
  animation: scroll-images 40s linear infinite;
}

@keyframes scroll-images {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.image-container img {
  display: inline-block;
  width: 300px; /* Increase width by 50% */
  height: auto;
  margin-right: 20px; /* Add space between images */
  background-color: transparent; /* Remove any filler color, if necessary */
}

.services-img {
  width: auto; /* Use the image's actual width */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
  height: auto; /* Maintain aspect ratio */
  max-height: 400px; /* Example: limit the height to make images smaller, adjust as needed */
}

* {
  box-sizing: border-box;
}